app = "presidentfly"
primary_region = "ams"
[build]
  dockerfile = "Dockerfile"
[env]
  PYTHONUNBUFFERED = "true"
[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  [services.http_checks]
    enabled = true
    interval = 10000
    timeout = 5000
    grace_period = "5s"
    method = "get"
    path = "/"
  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true
  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
